@using VSoft.BusinessPlatform.Application.Contracts;
@using VSoft.Framework.Mvc.Helpers.OperationsSummary
@using VSoft.Framework;
@using VSoft.BusinessPlatform.Guts.Security.User;
@model VSoft.Framework.Mvc.Features.Account.ChangePassword.ViewModels.ChangePasswordViewModel

@{ Layout = "~/Features/Layout/Views/EmptyLayout.cshtml"; }

@{
    var errors = ContextOperationMessages.GetCurrentAndClear();
    var passwordChangeIsSupported = ObjectBuilder.GetInstance<IUserInfo>().PasswordChangeIsSupported;
}

<div class="arch-change-password-page">
    <div class="portlet welcome">
        <div class="portlet-wrapper">
            @if (passwordChangeIsSupported)
            {
                <div class="portlet-title">
                    <span>@Localization.PasswordChange</span>
                </div>

                <div class="portlet-content">
                    @Html.OperationSummaryPanel()
                    <div id="summaryError"></div>
                    @using (Html.BeginForm("ChangePassword", "ChangePassword", FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "autocomplete", "off" } }))
                    {
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()

                            <div class='form-group'>
                                @(Html.Kendo()
              .TextBoxFor(vm => vm.CurrentPassword)
              .HtmlAttributes(new { type = "password", id = "oldPassword" })
              .Placeholder(Localization.Password))
                            </div>

                            <div class='form-group'>
                                @(Html.Kendo()
              .TextBoxFor(vm => vm.NewPassword)
              .HtmlAttributes(new { type = "password", id = "newPassword" })
              .Placeholder(Localization.NewPassword))
                            </div>

                            <div class='form-group'>
                                @(Html.Kendo()
              .TextBoxFor(vm => vm.ConfirmPassword)
              .HtmlAttributes(new { type = "password", id = "confirmPassword" })
              .Placeholder(Localization.ConfirmNewPassword))
                            </div>

                            <div class="actions k-text-right">
                                @Html.Kendo().Button().ThemeColor(ThemeColor.Primary).Name("submit-btn").Content(Localization.ChangePassword).HtmlAttributes(new { type = "submit" })
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="portlet-title k-mb-4">
                    <span>@Localization.PasswordChangeNotSupported</span>
                </div>
            }
            <div class="k-text-center ">
                <small><strong>Copyright</strong> VSoft SA &copy; 2016-@DateTime.UtcNow.Year</small>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            InitPasswordEye("oldPassword");
            InitPasswordEye("newPassword");
            InitPasswordEye("confirmPassword");
            var error = @Html.Raw(Json.Encode(errors.ErrorMessages.ToArray()));
            var shield = @Html.Raw(Json.Encode(errors.ShieldMessages.ToArray()));
            var info = @Html.Raw(Json.Encode(errors.SuccessMessages.ToArray()));
            var warning = @Html.Raw(Json.Encode(errors.WarningMessages.ToArray()));
            ShowSummaryMessages('summaryError', 'E', error);
            ShowSummaryMessages('summaryError', 'E', shield);
            ShowSummaryMessages('summaryError', 'W', warning);
            ShowSummaryMessages('summaryError','I',info)
            });
    </script>
</div>